<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
<IfModule headers_module>

    #RequestHeader set X-HTTPS 1

    Header set Content-Security-Policy "default-src 'none'; script-src 'self' 'nonce-X3pGTSOuJeEVw989IJ/cEtXUEmy52zs1TZQrU06KUKg' 'nonce-isi41AizREkLvvft0IRW4u3XMFR2Yg7bvrF7padyCJg' 'unsafe-inline'; connect-src 'self'; manifest-src 'self'; style-src-elem 'self' 'unsafe-inline' fonts.googleapis.com ; style-src 'self' 'unsafe-inline' fonts.googleapis.com ;  font-src 'self' fonts.googleapis.com fonts.gstatic.com 'unsafe-inline'; form-action 'self'; base-uri 'self'; object-src 'none'; img-src * data:; frame-ancestors 'self' calendar.google.com; frame-src 'self' calendar.google.com"

    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set X-Xss-Protection "1; mode=block"
    Header always set X-Content-Type-Options "nosniff"
</IfModule>